<nav class="navbar text-bg-dark text-white mt-2">
  <div class="container-fluid">
    <div class="col-12">
      <span appHeader20>Lista de usuarios</span>
    </div>
  </div>
</nav>
<div class="row">
  <mat-form-field class="col-md-5">
    <mat-label>Filtrar usuarios</mat-label>
    <input
      type="text"
      matInput
      (keyup)="filtrar($event)"
      #input
      id="filtroUsuario"
    />
  </mat-form-field>
  <div class="col-md-5 mt-2">
    <div class="d-flex justify-content-center w-100 mb-3">
      <button mat-raised-button (click)="openDialog()" color="primary">
        Agregar usuarios
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 listaUsuarios"
    >
      <ng-container matColumnDef="usuario">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Usuario</mat-header-cell
        >
        <mat-cell *matCellDef="let usuario">
          {{ usuario.usuario }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="clave">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Clave</mat-header-cell
        >
        <mat-cell *matCellDef="let usuario"> {{ usuario.clave }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="esAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Admin</mat-header-cell
        >
        <mat-cell *matCellDef="let usuario">
          {{ usuario.esAdmin | booleanATexto }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let usuario">
          <mat-icon
            class="cursor-pointer"
            color="primary"
            matTooltip="Editar"
            (click)="editar(usuario.id)"
            >edit</mat-icon
          >
          <mat-icon
            class="cursor-pointer"
            color="primary"
            matTooltip="Borrar"
            (click)="borrar(usuario.id)"
            >delete</mat-icon
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No hay información que coincida con "{{ input.value }}"
        </td>
      </tr>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Seleccione la página"
    ></mat-paginator>
  </div>
</div>
